/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --mainColor: #ff4605;
  --textColor: #1b2634;
  --cardBackground: #222732;
  --mainTransition: 0.3s;
  --lightBackground: #E6E6E6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh !important;
}
.navbar-toggler {
  /* color: #fff; */
  background-color: #fff !important;
}
.imgCard {
  border-radius: 15px !important;
  overflow: hidden;
  height: 100% !important;
}
.imgCard img {
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
}
.imgCard:hover img {
  transform: scale(1.2);
}

input,
textarea {
  caret-color: var(--mainColor);
}
